<div ng-controller="LocationCtrl">

  <header class="io-PageHeader io-PageHeader--location">
    <div class="io-PageHeader-hero">
      <div class="io-PageHeader-heroHeading">
        <h2 class="io-PageHeader-heroHeading-text">Location</h2>
      </div>
    </div>
  </header>

  <section class="col-md-12 io-ContentArea">
    <header class="io-ContentArea-header">
      <h3 class="io-ContentArea-header-title">Loosemore Auditorium, Richard M. Devos Center</h3>
    </header>
    <div class="io-ContentArea-content">
      <div class="row">
        <div class="col-md-6">
          <p>The conference will be located in the Loosemore Auditorium at the Richard M. Devos Center, courtesy of
          Grand Valley State Univerity.</p>

          <address>
            Richard M. Devos Center<br>
            Grand Valley State University<br>
            401 West Fulton<br>
            Grand Rapids, MI 49504
          </address>

          <p>Free parking is available in the Fulton Lot under the US-131 overpass.</p>

        </div>
        <div class="col-md-6">
            <iframe
                class="io-LocationMap"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2919.680639440328!2d-85.677937!3d42.963933999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd8e0fe2dcf065680!2sGrand+Valley+State+University%3A+Pew+Campus!5e0!3m2!1sen!2sus!4v1428496705238"
                frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>
  </section>

</div>
