<div ng-controller="SponsorsCtrl">

  <header class="io-PageHeader io-PageHeader--sponsors">
    <div class="io-PageHeader-hero">
      <div class="io-PageHeader-heroHeading">
        <h2 class="io-PageHeader-heroHeading-text">Sponsors</h2>
      </div>
    </div>
  </header>

  <div class="col-md-12">
    <section class="io-ContentArea">
      <header class="io-ContentArea-header">
        <h3 class="io-ContentArea-header-title">Keynote Sponsors</h3>
      </header>
      <div class="io-ContentArea-content">
        <ul class="io-SponsorReel">
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
        </ul>
      </div>
    </section>

    <section class="io-ContentArea">
      <header class="io-ContentArea-header">
        <h3 class="io-ContentArea-header-title">Room Sponsors</h3>
      </header>
      <div class="io-ContentArea-content">
        <ul class="io-SponsorReel">
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
        </ul>
      </div>
    </section>

    <section class="io-ContentArea">
      <header class="io-ContentArea-header">
        <h3 class="io-ContentArea-header-title">Meal Sponsors</h3>
      </header>
      <div class="io-ContentArea-content">
        <ul class="io-SponsorReel">
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
        </ul>
      </div>
    </section>
  </div>

</div>
