<div ng-controller="SponsorsCtrl">

  <header class="io-PageHeader io-PageHeader--sponsors">
    <div class="io-PageHeader-hero">
      <div class="io-PageHeader-heroHeading">
        <h2 class="io-PageHeader-heroHeading-text">Sponsors</h2>
      </div>
    </div>
  </header>

  <div class="col-md-12">
    <section class="io-ContentArea">
      <header class="io-ContentArea-header">
        <h3 class="io-ContentArea-header-title">Platinum Sponsors</h3>
      </header>
      <div class="io-ContentArea-content">
        <ul class="io-SponsorReel">
          <li class="io-SponsorReel-item io-SponsorReel-item--platinum">
            <img class="io-SponsorReel-logo" alt="Spectrum Health" src="/assets/img/sponsor-logos/logo-spectrum.png" />
          </li>
          <li class="io-SponsorReel-item io-SponsorReel-item--platinum">
            <img class="io-SponsorReel-logo" alt="SpinDance" src="/assets/img/sponsor-logos/logo-spindance.gif" />
          </li>
          <li class="io-SponsorReel-item io-SponsorReel-item--platinum">
            <img class="io-SponsorReel-logo io-SponsorReel-logo--adjustDown" alt="Bravo LT" src="/assets/img/sponsor-logos/logo-bravoLT.png" />
          </li>
        </ul>
      </div>
    </section>

    <section class="io-ContentArea">
      <header class="io-ContentArea-header">
        <h3 class="io-ContentArea-header-title">Gold Sponsors</h3>
      </header>
      <div class="io-ContentArea-content">
        <ul class="io-SponsorReel">
          <li class="io-SponsorReel-item io-SponsorReel-item--gold">
            <img class="io-SponsorReel-logo" alt="Gordon Food Service" src="/assets/img/sponsor-logos/logo-gfs.jpg" />
          </li>
          <li class="io-SponsorReel-item io-SponsorReel-item--gold">
            <img class="io-SponsorReel-logo" alt="GR Current" src="/assets/img/sponsor-logos/logo-grcurrent.png" />
          </li>
          <li class="io-SponsorReel-item io-SponsorReel-item--gold">
            <img class="io-SponsorReel-logo" alt="Grand Valley State University" src="/assets/img/sponsor-logos/logo-gvsu.png" />
          </li>
          <li class="io-SponsorReel-item io-SponsorReel-item--gold">
            <img class="io-SponsorReel-logo" alt="Tek Systems" src="/assets/img/sponsor-logos/logo-teksystems.png" />
          </li>
        </ul>
      </div>
    </section>

    <section class="io-ContentArea">
      <header class="io-ContentArea-header">
        <h3 class="io-ContentArea-header-title">Silver Sponsors</h3>
      </header>
      <div class="io-ContentArea-content">
        <ul class="io-SponsorReel">
          <li class="io-SponsorReel-item io-SponsorReel-item--silver">
            <img class="io-SponsorReel-logo" alt="Amway" src="/assets/img/sponsor-logos/logo-amway.jpg" />
          </li>
          <li class="io-SponsorReel-item io-SponsorReel-item--silver">
            <img class="io-SponsorReel-logo" alt="Atomic Object" src="/assets/img/sponsor-logos/logo-atomicObject.png" />
          </li>
          <li class="io-SponsorReel-item io-SponsorReel-item--silver">
            <img class="io-SponsorReel-logo" alt="KForce" src="/assets/img/sponsor-logos/logo-kforce.jpg" />
          </li>
          <li class="io-SponsorReel-item io-SponsorReel-item--silver">
            <img class="io-SponsorReel-logo" alt="OST" src="/assets/img/sponsor-logos/logo-ost.png" />
          </li>
        </ul>
      </div>
    </section>

    <section class="io-ContentArea">
      <header class="io-ContentArea-header">
        <h3 class="io-ContentArea-header-title">Bronze Sponsors</h3>
      </header>
      <div class="io-ContentArea-content">
        <ul class="io-SponsorReel">
          <li class="io-SponsorReel-item io-SponsorReel-item--bronze">
            <img class="io-SponsorReel-logo io-SponsorReel-logo--adjustUp" alt="Software GR" src="/assets/img/sponsor-logos/logo-softwaregr.png" />
          </li>
        </ul>
      </div>
    </section>

  </div>
</div>
