<div ng-controller="AboutCtrl">

  <header class="io-PageHeader io-PageHeader--about">
    <div class="io-PageHeader-hero"></div>
    <h1 class="io-PageHeader-heading">About</h1>
  </header>

  <div class="io-ContentRow">
    <div class="col-md-4 io-ContentRow-column">
      <section class="io-ContentArea io-ContentArea--aboutGoogleIO">
        <header class="io-ContentArea-header">
          <div class="io-ContentArea-header-banner"></div>
          <h3 class="io-ContentArea-header-title">Google I/O</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>Google I/O is two days of inspirational talks, hands-on learning, and a chance to hear more about Google&apos;s latest developer products.</p>
        </div>
      </section>
    </div>

    <div class="col-md-4 io-ContentRow-column">
      <section class="io-ContentArea io-ContentArea--aboutWhoShouldAttend">
        <header class="io-ContentArea-header">
          <div class="io-ContentArea-header-banner"></div>
          <h3 class="io-ContentArea-header-title">Who Should Attend?</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>Developers, designers, students, project managers, CEOs, and anyone else interested in the latest product innovation from Google.</p>
        </div>
      </section>
    </div>

    <div class="col-md-4 io-ContentRow-column">
      <section class="io-ContentArea io-ContentArea--aboutWhatToExpect">
        <header class="io-ContentArea-header">
          <div class="io-ContentArea-header-banner"></div>
          <h3 class="io-ContentArea-header-title">What to Expect?</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>Day one will open with a keynote address broadcast live from Google in Melbourne, Australia.  Breakout sessions begin after the first meal break and continue for the next two days.</p>
        </div>
      </section>
    </div>
  </div>

</div>
