<div ng-controller="HomeCtrl">

  <header class="io-PageHeader io-PageHeader--home">
    <div class="io-PageHeader-hero">
      <p class="io-PageHeader-heroDate">May 28 - 29, 2015</p>
      <div class="io-PageHeader-heroHeading">
        <h2 class="io-PageHeader-heroHeading-text">A Grand Rapids watch-party for creative developers brought to you by Google</h2>
        <p class="io-PageHeader-heroHeading-subtext">Attend breakout sessions with code labs, live speakers, and more.</p>
      </div>
    </div>
  </header>

  <div class="io-ContentRow">
    <div class="col-md-4 io-ContentRow-column">
      <section class="io-ContentArea io-ContentArea--aboutGoogleIO">
        <header class="io-ContentArea-header">
          <div class="io-ContentArea-header-banner"></div>
          <h3 class="io-ContentArea-header-title">Google I/O</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>Google I/O is two days of inspirational talks, hands-on learning, and a chance to hear more about Google&apos;s latest developer products.</p>
        </div>
      </section>
    </div>

    <div class="col-md-4 io-ContentRow-column">
      <section class="io-ContentArea io-ContentArea--aboutWhoShouldAttend">
        <header class="io-ContentArea-header">
          <div class="io-ContentArea-header-banner"></div>
          <h3 class="io-ContentArea-header-title">Who Should Attend?</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>Developers, designers, students, project managers, CEOs, and anyone else interested in the latest product innovation from Google.</p>
        </div>
      </section>
    </div>

    <div class="col-md-4 io-ContentRow-column">
      <section class="io-ContentArea io-ContentArea--aboutWhatToExpect">
        <header class="io-ContentArea-header">
          <div class="io-ContentArea-header-banner"></div>
          <h3 class="io-ContentArea-header-title">What to Expect?</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>Day one will open with a keynote address broadcast live from Google in Melbourne, Australia.  Breakout sessions begin after the first meal break and continue for the next two days.</p>
        </div>
      </section>
    </div>
  </div>

  <div class="row io-ContentRow">
    <div class="col-md-4 io-ContentRow-column">
      <section class="io-ContentArea io-ContentArea--homeRegister">
        <header class="io-ContentArea-header">
          <div class="io-ContentArea-header-banner"></div>
        </header>
      </section>
    </div>
    <div class="col-md-4 io-ContentRow-column">
      <section class="io-ContentArea io-ContentArea--homeSchedule">
        <header class="io-ContentArea-header">
          <div class="io-ContentArea-header-banner"></div>
        </header>
      </section>
    </div>
    <div class="col-md-4 io-ContentRow-column">
      <section class="io-ContentArea io-ContentArea--homeLocation">
        <header class="io-ContentArea-header">
          <div class="io-ContentArea-header-banner"></div>
        </header>
      </section>
    </div>
  </div>

  <section class="io-ContentArea">
    <header class="io-ContentArea-header">
      <h2 class="io-ContentArea-header-title io-ContentArea-header-title--no-divider">Sponsors</h2>
    </header>
    <div class="io-ContentArea-content">
      <ul class="io-SponsorReel">
        <li class="io-SponsorReel-item"></li>
        <li class="io-SponsorReel-item"></li>
        <li class="io-SponsorReel-item"></li>
        <li class="io-SponsorReel-item"></li>
        <li class="io-SponsorReel-item"></li>
        <li class="io-SponsorReel-item"></li>
      </ul>
    </div>
  </section>

</div>
