<div class="row">
  <div class="col-md-12" ng-controller="HomeCtrl">

    <header class="io-PageHeader io-PageHeader--home">
      <div class="io-PageHeader-hero">
        <p class="io-PageHeader-heroDate">May 28 - 29, 2015</p>
        <div class="io-PageHeader-heroHeading">
          <h2 class="io-PageHeader-heroHeading-text">A Grand Rapids watch-party for creative developers brought to you by Google</h2>
          <p class="io-PageHeader-heroHeading-subtext">Attend breakout sessions with code labs, live speakers, and more.</p>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row io-ContentRow">
        <div class="col-md-4 io-ContentRow-column">
          <section class="io-ContentArea io-ContentArea--homeRegister">
            <header class="io-ContentArea-header">
              <div class="io-ContentArea-header-banner"></div>
            </header>
          </section>
        </div>
        <div class="col-md-4 io-ContentRow-column">
          <section class="io-ContentArea io-ContentArea--homeSchedule">
            <header class="io-ContentArea-header">
              <div class="io-ContentArea-header-banner"></div>
            </header>
          </section>
        </div>
        <div class="col-md-4 io-ContentRow-column">
          <section class="io-ContentArea io-ContentArea--homeLocation">
            <header class="io-ContentArea-header">
              <div class="io-ContentArea-header-banner"></div>
            </header>
          </section>
        </div>
      </div>

    <section class="io-ContentArea">
      <header class="io-ContentArea-header">
        <h2 class="io-ContentArea-title">Sponsors</h2>
      </header>
      <div class="io-ContentArea-content">
        <ul class="io-SponsorReel">
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
          <li class="io-SponsorReel-item"></li>
        </ul>
      </div>
    </section>

  </div>
  </div>
</div>
