.io-PageHeader--home {
  .io-PageHeader-hero {
    height: 57vw;
    max-height: 600px;
    background-size: cover;
    background-image: url('/assets/img/home-hero.jpg');
  }
  .io-PageHeader-heroHeading-text {
    font-size: 24px;
  }
}


