<div ng-controller="ScheduleCtrl">

  <header class="io-PageHeader io-PageHeader--schedule">
    <div class="io-PageHeader-hero"></div>
    <div class="io-PageHeader-bannerHeading">
      <h2 class="io-PageHeader-bannerHeading-text">Schedule</h2>
    </div>
  </header>

  <div class="io-ContentRow">
    <div class="col-md-6 io-ContentRow-column">
      <section class="io-ContentArea">
        <header class="io-ContentArea-header">
          <h3 class="io-ContentArea-header-title">Day 1</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>The conference will be located in the Loosemore Auditorium at the Richard M. Devos Center, courtesy of Grand Valley State Univerity.</p>

          <address>
            Richard M. Devos Center<br>
            Grand Valley State University<br>
            401 West Fulton<br>
            Grand Rapids, MI 49504 <a href="#">Map it &rarr;</a>
          </address>

          <p>Free parking is available in the Fulton Lot under the US-131 overpass.</p>

          <p><a href="#">View a map of the conference center &rarr;</a></p>
        </div>
      </section>
    </div>

    <div class="col-md-6 io-ContentRow-column">
      <section class="io-ContentArea">
        <header class="io-ContentArea-header">
          <h3 class="io-ContentArea-header-title">Day 2</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>The conference will be located in the Loosemore Auditorium at the Richard M. Devos Center, courtesy of
          Grand Valley State Univerity.</p>

          <address>
            Richard M. Devos Center<br>
            Grand Valley State University<br>
            401 West Fulton<br>
            Grand Rapids, MI 49504 <a href="#">Map it &rarr;</a>
          </address>

          <p>Free parking is available in the Fulton Lot under the US-131 overpass.

          <p><a href="#">View a map of the conference center &rarr;</a></p>
        </div>
      </section>
    </div>
  </div>

</div>
