<div ng-controller="ScheduleCtrl">

  <header class="io-PageHeader io-PageHeader--schedule">
    <div class="io-PageHeader-hero">
      <div class="io-PageHeader-heroHeading">
        <h2 class="io-PageHeader-heroHeading-text">Schedule</h2>
      </div>
    </div>
  </header>

  <div class="io-ContentRow">
    <div class="col-md-12 io-ContentRow-column">
      <section class="io-ContentArea">
        <header class="io-ContentArea-header">
          <h3 class="io-ContentArea-header-title">Day 1</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>To be determined...  Stay tuned!
        </div>
      </section>
    </div>
  </div>

  <div class="io-ContentRow">
    <div class="col-md-12 io-ContentRow-column">
      <section class="io-ContentArea">
        <header class="io-ContentArea-header">
          <h3 class="io-ContentArea-header-title">Day 2</h3>
        </header>
        <div class="io-ContentArea-content">
          <p>To be determined...  Stay tuned!
        </div>
      </section>
    </div>
  </div>

</div>
