<div ng-controller="ScheduleCtrl as schedule">

  <header class="io-PageHeader io-PageHeader--schedule">
    <div class="io-PageHeader-hero">
      <div class="io-PageHeader-heroHeading">
        <h2 class="io-PageHeader-heroHeading-text">Schedule</h2>
      </div>
    </div>
  </header>

  <div class="io-ContentRow">
    <div class="col-md-12 io-ContentRow-column">
      <section class="io-ContentArea">
        <header class="io-ContentArea-header">
          <h3 class="io-ContentArea-header-title">Day 1</h3>
        </header>
        <div class="io-ContentArea-content">
          <ul class="io-SessionList">
            <li class="io-Session-wrapper"
                ng-class="'hour' + (session.startDttm | date : 'hh')"
                ng-repeat="session in schedule.sessions.day1">
              <div ng-include="'partial/schedule/schedule-day.html'"></div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <div class="io-ContentRow">
    <div class="col-md-12 io-ContentRow-column">
      <section class="io-ContentArea">
        <header class="io-ContentArea-header">
          <h3 class="io-ContentArea-header-title">Day 2</h3>
        </header>
        <div class="io-ContentArea-content">
          <ul class="io-SessionList">
            <li class="io-Session-wrapper"
                ng-class="'hour' + (session.startDttm | date : 'hh')"
                ng-repeat="session in schedule.sessions.day2">
              <div ng-include="'partial/schedule/schedule-day.html'"></div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>

</div>
